*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: url(../imagens/404.png) no-repeat center center fixed; 
    padding: 100px;
}